
impo


*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;

}

@font-face {
    font-family: 'Hanken Grotesk'; /* Specify the desired font family name */
    src: url('./path/to/HankenGrotesk-VariableFont_wght.ttf') format('truetype'); /* Path to your font file */
    /* You can also provide multiple formats for better browser compatibility */
  }

body{
    width: 100%;
    height: 100vh;
    display: block;
    font-family: 'Hanken Grotesk', sans-serif; /* Use the specified font family */
    
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 1.5rem;
}


.container{
        display: flex;
        position: absolute;
        width: 100%;
        justify-content: center;
        margin: auto;
        /* margin-top: 200px; */
        height: 60vh;
        top: 25%;
    



}
.container-result{
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    border-radius: 30px;
    width: 40vh;
    color: white;
}
.heading-result-1 {
    margin-bottom: 30px;
    margin: 20px;
    margin-top: 12px;
    margin-bottom: 15px;


}
.text-result {
    padding: 5px 60px 5px 60px;
  
        margin-top: -25px;
    


}
.rounded{
    position: relative;
    display: flex;
    justify-content: center;
    width: 180px;
    height: 180px;
    background-color: blueviolet;
    border-radius: 50%;
    margin: auto;
    padding: auto;
}
.number-result{
         padding-top: 10%;
        display: flex;
        flex-direction: column;
    
}
.heading-result-2{
    margin-top:20px ;

}

.container-summary{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 30px;
        width: 40vh;
        height: 100%;
        box-shadow: rgb(115 107 248 / 45%) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  
    
}
.wrap-summary {

        display: flex;
        flex-direction: column;
        margin: 0;
       
        padding: 50px;
        padding-top: 30px;
        height: 50vh;
        padding-bottom: 40px;
    
}

    

.wrap-summary h3{
  
        margin-bottom: 22px;
      
    
    
}
.pill-container{
    display: flex;
    flex-direction: column;
}
.pill{
   
        height: 35px;
        background-color: #ff000014;
        width: 100%;
        margin-bottom: 14px;
        border-radius: 8px;
        padding: 10px;
    
    
    
}
.button-summary {

        display: block;
        height: 50px;
        border-radius: 33px;
        margin-top: 35px;
    
    
    
}
.score-total {
 
        position: relative;
        bottom: 25px;
    
}
.text-pill{
    font-weight: 600;
}
#red .text-pill{
    color: #ff00005f;

}